        <div class="ui fixed inverted segment" id="footer">
              <div class="ui container">
                   <span class="left">Darren Leniston - Information Technology Year 4</span>
                   <span class="right">Final Year Project Blog (WIT - 2017/2018)</span>
              </div>
        </div>
    </body>
</html>